# Ambiente Virtual do Python
.venv/
venv/

# Arquivos de cache do Python
__pycache__/

# Arquivos compilados do Python
*.pyc

# Arquivo do banco de dados SQLite
# (É melhor compartilhar o 'db.py' que CRIA o banco, 
# do que o arquivo do banco em si)
*.db
*.sqlite3

# Arquivos de configuração do VS Code (opcional)
.vscode/